.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  text-align: left;
  color: #072635;
}

.card img {
  margin-bottom: 20px;
}

.card h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.card p {
  font-size: 30px;
  font-weight: 800;
  margin: 0;
}

.card span {
  display: block;
  font-size: 14px;
  margin-top: 20px;
}

.card-1 {
  background: #E0F3FA;
}

.card-2 {
  background: #FFE6E9;
}

.card-3 {
  background: #FFE6F1;
}

.diagnostic-list {
  background-color: #fff;
  border-radius: 16px;
  padding: 20px;
  height: 14rem;
}

.diagnostic-list h3 {
  color: #072635;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  margin-top: 0;
}

.diagnostic-list table {
  width: 100%;
  border-collapse: collapse;
}

.diagnostic-list table thead tr{
  display: block;
}

.diagnostic-list th, .diagnostic-list td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.diagnostic-list th {
  background-color: #F6F7F8;
  font-weight: 500;
  border-bottom: 0;
  width: 1%;
}

.diagnostic-list tr {
  display: block;
  width: 100%;
}

.diagnostic-list td {
  width: 1%;
}

.diagnostic-list th:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.diagnostic-list th:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.diagnostic-table-list {
  display: block;
  height: 8.3rem;
  overflow: auto;
}

/* Styles for improved button appearance */
button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}